@import './base/base';
@import './base/header';
@import './base/typhography';





/* ----------------------------HERO-SECTION------------------------------------*/
.hero {
  background: #ff6400;
  background: -moz-linear-gradient(left, #ff6400 0%, #ff00a5 100%);
  background: linear-gradient(to right, #ff6400 0%, #ff00a5 100%);
  width: 100vw;
  padding: 25vh 0;

  &-content {
    max-width: 144rem;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem;
  }
}

.nav {
  flex: 1;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  @media (max-width: 768px) {
    display: none;
  }
}

.nav-links-item-1 {
  text-decoration: none;
  margin-right: 2rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: #088dba;
  font-size: 1.4rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  @media (max-width: 768px) {
    margin: 2rem 0;
  }
  &:hover {
    color: #ff00a5;
  }
}
#colorGrey {
  color: #888;
  &:hover {
    color: #ff00a5;
  }
}
a {
  list-style: none;
  text-decoration: none;
}

.search {
  flex: 0 0 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  @media only screen and (max-width: 768px) {
    order: 1;
    flex: 0 0 100%;
    background-color: #f0eeee;
    border-radius: 100px;
  }

  &__input {
    font-family: inherit;
    font-size: 1.4rem;
    color: rgb(45, 44, 44);
    background-color: #f0eeee;
    border: none;
    padding: 1.2rem 2rem;
    border-radius: 100px;
    width: 90%;
    transition: all 0.3s;
    margin-right: -3.25rem;

    &:focus {
      outline: none;
      width: 100%;
      background-color: #f0eeee;
    }

    &::-webkit-input-placeholder {
      font-weight: 100;

      color: #a5a3a3;
    }

    &__input:focus + &__button {
      background-color: #f0eeee;
    }
  }

  &__button {
    border: none;
    background-color: #f0eeee;

    &:focus {
      outline: none;
    }

    &:active {
      transform: translateY(2px);
    }
  }

  &__icon {
    height: 3rem;
    width: 3rem;
    fill: rgb(52, 51, 51);
    &:hover {
      fill: #ff00a5;
    }
  }
}

.menu {
  @media (min-width: 768px) {
    display: none;
  }
  position: relative;
}

/**************NAVIGATION HAMBURGER******************/

.menu-open {
  position: fixed;
  top: 2rem;
  left: 2rem;
  width: 40px;
  height: 20px;
  background-color: rgb(255, 255, 255);
}

.menu-open span {
  display: flex;
  width: 40px;
  height: 4px;
  background-color: black;
  margin-top: 3px;
}

.nav1 {
  position: fixed;
  top: 0;
  left: -50%;
  width: 50%;
  height: 100vh;
  background-color: rgb(0, 0, 0);
  border-right: 1px solid black;
  transition: all 0.5s;
  z-index: 8000;
}

.nav1.active {
  position: fixed;
  top: 0;
  left: 0%;
  width: 50%;
  height: 100vh;
  background-color: rgb(255, 255, 255);
  border-right: 1px solid rgb(255, 251, 251);
  transition: all 0.5s;
  z-index: 8000;
}

.nav1 ul {
  position: absolute;
  top: 40%;
  right: 20%;
  transform: translateY(-50%);
  width: 80%;
  text-align: center;
  padding: 3rem;
}

.nav1 ul li {
  margin-top: 3rem;
  list-style: none;
  display: flex;
  justify-content: flex-start;
}

.nav1 ul li a {
  color: rgb(43, 43, 43);
  text-decoration: none;
  font-family: inherit;
  font-size: 4.8rem;
  background-color: rgb(255, 255, 255);
  font-weight: 600;
  font-family: "Roboto";
  letter-spacing: 2px;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.2s;
}

.menu-close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 18px;
  height: 18px;
  background-color: rgba(255, 255, 255, 0);
  cursor: pointer;
}

.menu-close span {
  display: flex;
  width: 20px;
  height: 2px;
  background-color: #070707;
}

.menu-close :nth-child(1) {
  position: absolute;
  left: -2px;
  top: 7px;
  transform: rotate(45deg);
}

.menu-close :nth-child(2) {
  position: absolute;
  left: -2px;
  top: 7px;
  transform: rotate(135deg);
}

@media only screen and (max-width: 728px) {
  .nav1 {
    left: -100%;
  }
}

@media only screen and (max-width: 728px) {
  .nav1.active {
    width: 100%;
  }
}

@media only screen and (max-width: 1047px) {
  .nav1 ul li a {
    font-size: 2.8rem;
  }
}
.logo-hum {
  position: absolute;
  top: 2%;
  left: 5%;
  width: 3rem;
  height: 3rem;
}
/************** SECTION TOOLS******************/

.container-1,
.container-2,
.container-3,
.container-4,
.container-5,
.container-6,
.container-7,
.container-8,
.container-9,
.container-10 {
  width: 100vw;
  margin: 0 auto;
  background-color: #ffffff;
}

.container-2,
.container-4,
.container-6,
.container-10 {
  background-color: #f9fafad2;
}

.tools {
  max-width: 144rem;
  width: 100%;
  margin: 0 auto;
  padding: 4rem 2rem;
  display: flex;
  flex-direction: column;
  &-title {
    flex: 0 0 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    padding: 4rem 0;
  }
  &-box {
    flex: 0 0 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;

    &-content {
      width: 35rem;
      height: 25rem;
      margin: 1rem 2rem;
      display: flex;
      justify-content: space-evenly;
      align-content: center;
      align-items: center;
      text-align: center;
      flex-direction: column;
      padding: 2rem 0;
      @media (max-width: 768px) {
        width: 100%;
        height: 100%;
        padding: 4rem 0;
      }
    }
  }
}

#marginZero {
  margin-right: 0;
}

/*********************** FOOTER************************************/
.footer {
  max-width: 1695px;
  margin: 0 auto;
  padding: 10vh 5vw;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  position: relative;
}

.logo-1 {
  width: 6rem;
  height: 6rem;
  margin: 4rem;
  @media (max-width: 768px) {
    width: 4rem;
    height: 4rem;
    margin: 2rem;
  }
}

/*********************** FOOTER************************************/
.float-nav {
  position: fixed;
  height: 25rem;
  width: 6rem;
  background-color: #ff00a600;
  top: 55%;
  right: 0%;
  transform: translate(0%, 0%);
  z-index: 5001;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  &:hover {
    background-color: #ff00a630;
  }
  @media (max-width: 768px) {
    width: 25rem;
    height: 6rem;
    flex-direction: row;
    top: 92%;
    right: 50%;
    transform: translate(50%, 0%);
    background-color: #ff00a600;
    display: none;
    &:hover {
      background-color: #ff00a600;
    }
  }
}

.search__icon-float,
.search__icon-float1 {
  width: 3rem;
  height: 3rem;
  fill: #fff;
  fill: #ff00a5;
  cursor: pointer;
  &:hover {
    fill: #fff;
  }
  @media (max-width: 768px) {
    fill: rgb(52, 51, 51);
    &:hover {
      fill: #ff00a5;
    }
  }
}

.search__icon-float1 {
  @media (max-width: 768px) {
    fill: rgb(238, 5, 5);
    &:hover {
      fill: #ff00a5;
    }
  }
}

.float-nav1 {
  @media (min-width: 768px) {
    display: none;
  }
  @media (max-width: 768px) {
    width: 80%;
    margin: 2rem auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
}

.search-icon-search-4 {
  width: 4rem;
  height: 3rem;

  fill: rgb(52, 51, 51);
  animation-name: anim;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  background-color: transparent;
  &:hover {
    fill: #ff00a5;
  }
}

.btn-search {
  position: absolute;
  top: 10%;
  right: 50%;
  transform: translate(25%, 0%);
  z-index: 300;
}

@keyframes anim {
  0% {
    fill: #ff6400;
  }
  25% {
    fill: #ff00a5;
  }
  50% {
    fill: #ff6400;
  }
  100% {
    fill: #ff00a5;
  }
}
